.DS_Store
.elixir_ls/
.idea/
.vscode/
jido_integration/
agent_session_manager/
cli_subprocess_core/
!bin/
!bin/*
.codex
repomix*.xml
/jido_hive_client/jido_hive_client
/examples/jido_hive_console/hive
